body{
 padding: 0;
 margin: 0;
}
/* Nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 5px 50px; */
    padding: 0 20px;
    background-color: rgb(37, 150, 190);
}
.Nav-titel{
    font-weight: bold;
    font-size: 45px;
}
.Nav-titel .text{
    color: red;
}
nav li{
    list-style: none;
    margin-right: 40px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

nav ul{
    display: flex;
}
nav li :hover{
   background-color: red;
   padding: 10px;
   border-radius: 5px;
}





.hero-section{
    width: auto;
    height: 650px;
    background-image: url('hero.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-section .content{
    width: 650px;
    padding: 60px;
}

.hero-section .content .title h1{
    font-size: 40px;
    color: white;
    margin-top: 0;

}
.hero-section .content .paragraph{
     font-size: 20px;
     color: white;
}
.hero-section .content .button{
    color: black;
    font-size: 20px;
    text-decoration: none;
    background-color: #ebc6b4;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
}